<div class="container-fluid">
  <nav class="menu">
    {{#link-to "index"}}
    <h1 id="logo">Ember Quiz!</h1>
    {{/link-to}}
    <div class="nav-link-container">
      {{#link-to "create-question" class="nav-link"}}
        Create A Question
      {{/link-to}}
      {{#link-to "quiz" class="nav-link"}}
        Take The Quiz
      {{/link-to}}
    </div>
  </nav>
  <main class="body">
    {{outlet}}
  </main>
  <footer class="menu footer">
    <a href="https://github.com/Alba-C/ember-quiz">View the code on GitHub</a>
  </footer>
</div>